*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: capitalize;
}
body{
  background-image: linear-gradient(135deg, rgba(207, 176, 103, 0.6) 5%, #9c9169 95%);
}
header {
    background: rgb(108, 160, 161);
    padding: 1rem 3px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    z-index: 1000;
    top: 0; left: 0; right: 0;
    flex-direction: row; 
}

/*Drowdown start*/
.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.instagram:checked + .radio-tile {
  border-color: #cc39a4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #cc39a4;
}

.instagram:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #cc39a4;
  border-color: #cc39a4;
}

.instagram:checked + .radio-tile .radio-icon svg {
  fill: #fff;
}

.instagram:checked + .radio-tile .radio-label {
  color: #cc39a4;
}

.instagram:focus + .radio-tile {
  background-color: #cc39a4;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.instagram:checked + .radio-tile {
  background-color: #cc39a4;
  border-color: #fff;
}

.instagram:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

/*  Twitter */
.twitter:checked + .radio-tile {
  border-color: #03a9f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #03a9f4;
}

.twitter:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.twitter:checked + .radio-tile .radio-icon svg {
  fill: #fff;
}

.twitter:checked + .radio-tile .radio-label {
  color: #03a9f4;
}

.twitter:focus + .radio-tile {
  background-color: #03a9f4;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.twitter:checked + .radio-tile {
  background-color: #03a9f4;
  border-color: #fff;
}

.twitter:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}
/* discord */
.discord:checked + .radio-tile {
  border-color: #8c9eff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #8c9eff;
}

.discord:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #8c9eff;
  border-color: #8c9eff;
}

.discord:checked + .radio-tile .radio-icon svg {
  fill: #fff;
}

.discord:checked + .radio-tile .radio-label {
  color: #8c9eff;
}

.discord:focus + .radio-tile {
  background-color: #8c9eff;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.discord:checked + .radio-tile {
  background-color: #8c9eff;
  border-color: #fff;
}

.discord:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.instagram:hover {
  border-color: #cc39a4;
}
.twitter:hover {
  border-color: #03a9f4;
}
.discord:hover {
  border-color: #8c9eff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
}
.instagram {
  fill: #cc39a4;
}
.twitter {
  fill: #03a9f4;
}
.discord {
  fill: #8c9eff;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    display: block; /* Display dropdown items as block */
    padding: 10px;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: row;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown:hover .dropdown-content {
    display: block;
    
}

.navbar a {
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
    padding: 10px;
    margin-right: 10px; /* Add some margin between the items */
    display: block;
}

/*Drowdown end*/
header .icons span{
   margin-right: 5px;
   padding: 5px;
   border: 2px solid;
   border-radius: 50%;
   height: 1.5em;
   background-color: rgb(231, 237, 235);
}
@media (max-width: 768px){
    .navbar a{
        display: block;
        width: 100%;
        text-align: center;
        margin: 5px;
    }
    .dropbtn{
        
        width: 100%;    
    }
    .icons{
        display: block;
    }
}
.dropbtn{
    text-align: center;
    align-items: center;
    justify-content:center ;
}
.nav a{
    padding-bottom: 20px;
}
h1.about{
    text-align: center;
}

  .cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 2% ;
    justify-content: center;
    margin: 4%;
  }
  
  .cards .red {
    background-color: #f43f5e;
  }
  
  .cards .blue {
    background-color: #3b82f6;
  }
  
  .cards .green {
    background-color: #22c55e;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 25%;
    width: 30%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    transform: scale(0.9, 0.9);
  }
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
   .myCard {
    background-color: transparent;
    width: 100px;
    height: 150px;
    perspective: 1000px;

  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  
  .frontSide,
  .frontSide::before {
    background: rgb(148, 160, 125);
  }
  
  .backSide,
  .backSide::before {
    background: rgb(153, 153, 160);
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }
  /* .angry-grid {
     display: grid; 
      grid-row: auto;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     gap: 20%;
     width: 190px;
    height: 254px;
    border: 5px solid red;
  }
    
  #item-0 {
  
     
     grid-row-start: 1;
     grid-column-start: 3;
  
     grid-row-end: 2;
     grid-column-end: 4;
     border: 5px solid red;
  }
  #item-1 {
  
     
     grid-row-start: 1;
     grid-column-start: 5;
  
     grid-row-end: 2;
     grid-column-end: 6;
     
  }
  #item-2 {
  
     
     grid-row-start: 3;
     grid-column-start: 2;
  
     grid-row-end: 4;
     grid-column-end: 3;
     
  }
  #item-3 {
  
     
     grid-row-start: 3;
     grid-column-start: 4;
  
     grid-row-end: 4;
     grid-column-end: 5;
     
  }
  #item-4 {
  
     
     grid-row-start: 3;
     grid-column-start: 6;
  
     grid-row-end: 4;
     grid-column-end: 7;
     
  }
  #item-5 {
  
     
     grid-row-start: 5;
     grid-column-start: 2;
  
     grid-row-end: 6;
     grid-column-end: 3;
     
  }
  #item-6 {
  
     
     grid-row-start: 5;
     grid-column-start: 4;
  
     grid-row-end: 6;
     grid-column-end: 5;
     
  }
  #item-7 {
  
     
     grid-row-start: 5;
     grid-column-start: 6;
  
     grid-row-end: 6;
     grid-column-end: 7;
     
  }
  #item-8 {
  
    
     grid-row-start: 7;
     grid-column-start: 2;
  
     grid-row-end: 8;
     grid-column-end: 3;
     
  }
  #item-9 {
  
     
     grid-row-start: 7;
     grid-column-start: 4;
  
     grid-row-end: 8;
     grid-column-end: 5;
     
  }
  #item-10 {
  
     
     grid-row-start: 7;
     grid-column-start: 6;
  
     grid-row-end: 8;
     grid-column-end: 7;
     
  }
  #item-11 {
  
     
     grid-row-start: 9;
     grid-column-start: 2;
  
     grid-row-end: 10;
     grid-column-end: 3;
     
  }
  #item-12 {
  
     
     grid-row-start: 9;
     grid-column-start: 4;
  
     grid-row-end: 10;
     grid-column-end: 5;
     
  }
  #item-13 {
  
     
     grid-row-start: 9;
     grid-column-start: 6;
  
     grid-row-end: 10;
     grid-column-end: 7;
     
  }
  #item-14 {
  
     
     grid-row-start: 11;
     grid-column-start: 2;
  
     grid-row-end: 12;
     grid-column-end: 3;
     
  }
  #item-15 {
  
     
     grid-row-start: 11;
     grid-column-start: 4;
  
     grid-row-end: 12;
     grid-column-end: 5;
     
  }
  #item-16 {
  
     
     grid-row-start: 11;
     grid-column-start: 6;
  
     grid-row-end: 12;
     grid-column-end: 7;
     
  } */
  .angry-grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    border: 5px solid red;
}

#item-0 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#item-1 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#item-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#item-3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#item-4 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#item-5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#item-6 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#item-7 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#item-8 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

#item-9 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

#item-10 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

#item-11 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

#item-12 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

#item-13 {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

#item-14 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}

#item-15 {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

#item-16 {
    grid-row: 6 / 7;
    grid-column: 3 / 4;
}

  .team-info{
    margin: 3%;
   

  }
  h1{
    text-align: center;
    margin: 10%;
    text-transform:initial;
    font-size: 2rem;
    font-weight: 800;
}
.timeline{
  border: 5px solid red;
    position: relative;
    color: aquamarine;
    text-align: center;
    margin: 10px auto;
    display: block;
    width: 100%;
    height: 300px;
}
.line-area{
    display: block;
    position: absolute;
    height: 2.5%;
    width: 80%;
    background-color: rgb(7, 7, 27);
    top: 50%;
    left: 10%;
}
.timeline .timeline-area{
    height: 100%;

}
.timeline-elements{
    position: relative;
    display: inline-block;
    width: 10%;
    height: 100%;
    margin-right: 5%;
    transition: width 0.5s;
    z-index: 1;
}
.timeline-elements>span{
    font-size: 2rem;
    display: block;
    font-weight: 500;
    position: absolute;
    top: 50%;
    margin-top:-4.5%;
    width: 100%;
}
.timeline-elements>span::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    margin-bottom: 12%;
}
.content{
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -50%;
    left: 0;
}

